@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}

body {
    background-image: linear-gradient(180deg,
  rgb(32, 50, 60) 0%,
  hsl(233, 20%, 25%) 22%,
  hsl(318, 22%, 31%) 45%,
  hsl(346deg 35% 43%) 64%,
  hsl(357, 45%, 51%) 82%,
  hsl(3deg 54% 48%) 100%);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

body, main, figure, .quotation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 20%;
    height: 65%;
    background-color: #603e56;
    border-radius: 15px;
    padding: 8px;
    gap: 2%;
}

figure img {
    width: 45%;
    border-radius: 50%;
}


h4 {
    color: #ba4a4f;
    text-align: center;
}

.quotation {
    width: 80%;
}

.quotation span {
    font-style: italic;
    font-size: small;
    text-align: right;
    width: 90%;
}

.links {
    background: rgba(20, 31, 37, 0.2) 22%;
    width: 80%;
    height: 7%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ba4a4f;
    font-size: smaller;
}

.links:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

/*Responsividade - Tablet*/
@media screen and (max-width: 1023px) and (min-width: 768px){
    main {
    width: 40%;
    }
}

@media screen and (max-width: 767px) {
    main {
        width: 80%;
    }
}